@media(max-width:998px){
    .banner-img img{
        position: relative;
        top: 27px;
        height: 336px;
        width: 320px;
        float: right;
    }
    .banner-text h1{
        font-size: 2rem;
    }

    
        .banner-img::before {
            top: 144px;
            content: "01";
            background-color: blue;
            color: white;
            font-size: 30px;
            font-weight: bold;
            padding: 25px;
            position: relative;
            display: none;
        }
    }
    @media(max-width:990px){
        .grid-img-2{
            position: relative;
        }
        .grid-img-2 p{
                position: absolute;
                top: 88%;
                left: 27%;
                font-weight: bold;}
                .grid-img-2{
                    margin-bottom: 20px;
                }
                .discovery{
                    background: url(/assest/images/discovery.png);
                    background-size: cover;
                    height:100%;
                    margin-bottom: 10px;
                    background-position: bottom;
                }
      .deals-color {
       padding-right: 10px;
        display: flex;   
        justify-content: center;
                }
                .deals-wrapper{
                    display: block;
                }
                .deals-color input{
                    margin-left: 10px;
                }
        }
        @media(max-width:786px){
            .card{
                margin-bottom: 20px;
            }
            .banner-text{
                text-align: center;
            }
            .deals-wrapper{
                display:block;
                align-items: center;
            }
            .discovery-text h2 {
                font-size: 2.1rem;
                font-family: 'playfair Display',serif;
            }
            .footer-links{
                text-align: center;
            }
        }