@media(max-width:998px){
    .banner-img img{
        position: relative;
        top: 27px;
        height: 336px;
        width: 320px;
        float: right;
    }
    
        .banner-img::before {
            top: 144px;
            content: "01";
            background-color: blue;
            color: white;
            font-size: 30px;
            font-weight: bold;
            padding: 25px;
            position: relative;
            display: none;
        }
    }
    @media(max-width:990px){
        .grid-img-2{
            position: relative;
        }
        .grid-img-2 p{
                position: absolute;
                top: 88%;
                left: 27%;
                font-weight: bold;}
        }