*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');
.head{
    background: url(/assest/images/banner-bg.png);
    background-size: cover;
    height: 100%;
    position: relative;
}

.head-wrapper{
    background-image: url(/assest/images/banner-layer.png);
    background-size: cover;
    opacity: 0.8;
    width: 100%;
    overflow: hidden;   
}
.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;

}
.navbar li a:hover{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.icon a{
    margin: 0px 10px;
}
.nav-item a::before{
    content: "";
    width: 0;
    position: relative;
    top: -56px;
    height: 5px;
    background: blue;
    display: block;
    transition: 0.5s;
}
.nav-item a:hover::before{
    width: 100%;
}
.navbar-toggler i{
    font-size: 30px;
    color: black;
    outline: none;
}
.banner-text h1{
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 10rem;
    color: black;
    opacity: 1.0;
    padding: 10px 0px;
}
.banner-text p{
    font-size: larger;
    font-weight: bolder;
}
.banner-text{
    padding-left: 19px;
}
.banner-text .btn{
    cursor: pointer;
    display: inline-block;
    background-color: darkblue;
    border-color: blue;
    color: white;
    padding: 12px 10px;
    opacity: 1.2;
    font-weight: bold;
}
.banner-text .btn:hover{
    background-color:transparent;
    border-color:darkblue;
    color:darkblue;
}
.banner-img{
    position: relative;
    top: 36px;

}
.banner-img img{
    position: relative;
    top: 27px;
    height: 336px;
    width: 320px;}

    .banner-img::before {
        top: 144px;
        content: "01";
        background-color: blue;
        color: white;
        font-size: 30px;
        font-weight: bold;
        padding: 25px;
        position: relative;
    }
    .header-footer {
        color: white;
        font-weight: bold;
        padding-top: 10px;
        position: relative;
        justify-content: end;
        right: 14%;
    }
    .header-footer a,.header-footer p{
        margin: 10px 0px
    }
    .header-footer a:hover{
            color: yellow;
    }